<div class="d-flex align-items-center flex-column align-items-baseline">
    <div class="twitterIcon">
        <i class="fa fa-twitter"></i>
    </div>
    <button mat-raised-button>
        <i class="fa fa-home"></i>
        <span>Home</span>
    </button>
    <button mat-raised-button>
        <i class="fa fa-wpexplorer"></i>
        <span>Explore</span>
    </button>
    <button mat-raised-button>
        <i class="fa fa-bell"></i>
        <span>Notifications</span>
    </button>
    <button mat-raised-button>
        <i class="fa fa-envelope"></i>
        <span>Messages</span>
    </button>
    <button mat-raised-button>
        <i class="fa fa-user-circle-o"></i>
        <span>Profile</span>
    </button>
    <button mat-raised-button>
        <i class="fa fa-ellipsis-h"></i>
        <span>More</span>
    </button>
    <button mat-raised-button class="tweetBtn">
        <span>tweet</span>
    </button>
</div>