<div class="row">
  <div class="col-12 d-flex justify-content-center">
    <mat-card>
      <div class="row">
        <div class="col-3">
          <div class="avatarcontainer">
            <img src={{person.img}} alt="avatar" class="avatar">
          </div>
        </div>
        <div class="col-5">
        <p class="name">{{person.name}}</p>
          <p>{{person.id}}</p>
        </div>
        <div class="col-4">
          <button mat-button color="primary" (click)="openSnackBar('Follow')">Follow</button>
        </div>

      </div>




    </mat-card>
  </div>
</div>
