.tweeterIcon i{
  font-size: 3vw;
  opacity: 0.6;
}

.avatarcontainer {
    position: relative;
    margin: auto;
    width: 3rem;
    height: 3rem;
    display: block;
}

.avatarcontainer:hover>.hover {
    opacity: 1;
}

.avatar {
    width: 100%;
    border: 8px solid #5cc0ff;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.avatar img {
    width: 65px;
    height: 65px;
}

.avatar:hover {
    opacity: 1;
    cursor: pointer;
}

mat-card {
    width: 100%;
    position: relative;
}

i {
    font-size: 1.5vw;
}

h2{
  padding: 0;
  margin: 0;
}

button{
  padding: 0 !important;
}
.name{
  font-weight: bold;
}
p{
  margin: 0;
  padding: 0;
}
