<div class="container p-4">
    <div class="row h-100">
        <app-side-bar class="col-2 h-100 d-block p-0"></app-side-bar>
        <div class="col-10 p-0">
            <app-header></app-header>
            <div class="row">
                <div class="col-md-8">
                    <app-main class="d-flex justify-content-center"></app-main>
                </div>
                <div class="col-md-4">
                    <app-trend class="d-block"></app-trend>
                </div>
            </div>


        </div>
    </div>
</div>