:host {
    height: 100%;
    display: block;
    overflow: hidden;
}

app-header {
    /*height: 4rem;*/
    padding: 1rem 0;
    display: block;
    background-color: #B9AFD4;
}

app-side-bar {
    background-color: #FBD9E6;
}

app-main {
    background-color: #C8E8E6;
    padding-right: 0;
}

app-trend {
    background-color: #FFF8DE;
    padding-left: 0;
}

:root {
    --blue: rgb(29, 155, 240);
    --white: #ffffff;
}